<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.IncnImgMapper">

    <select id="selectIncnImgById" resultType="com.egov.ex.entity.IncnImg">
        SELECT * 
        FROM t_ails_incn_img
        WHERE 1 = 1
        AND WORK_DATE = #{workDate}
        AND WORK_NO = #{workNo}
    </select>
    
    <update id="updateIncnImgDelYnByPk">
        UPDATE t_ails_incn_img SET        
        del_yn = #{delYn}
        WHERE 1=1
        AND work_date = #{workDate}
        AND work_no = #{workNo}
    </update>
    
    <update id="updateIncnImgProsYnByPk">
        UPDATE t_ails_incn_img SET        
        pros_yn = #{prosYn}
        WHERE 1=1
        AND work_date = #{workDate}
        AND work_no = #{workNo}
        AND label_type = #{labelType}
    </update>
</mapper>
