<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.LearnStatusMapper">
	<select id="selectLearnStatusInfo" resultType="com.egov.ex.entity.LearnStatusInfo">
        SELECT * FROM t_ails_learn_status_info
        LIMIT 1            
    </select>
    <select id="selectLearnStatus" resultType="com.egov.ex.entity.LearnStatus">
        SELECT * FROM t_ails_learn_status
        WHERE training_id = #{trainingId}            
    </select>    
    <update id="updateStartLearnStatusInfo">
       update t_ails_learn_status_info set
           training_yn = 'Y',
           training_step = 1,
           training_id = #{trainingId},
           progress=0,
           engine_type = #{engineType},
           comb_dtst_id = #{combDtstId},
           weight_id = #{weightId},
           want_to_stop = 'N',
           start_dttm = #{startDttm},
           remain_time = null,
           finish_dttm = null,
           error_msg = ""
    </update>
    <update id="updateStopLearnStatusInfo">
       update t_ails_learn_status_info set           
           want_to_stop = 'Y',
           progress=0
    </update>
    <update id="updateCompleteLearnStatusInfo">
       update t_ails_learn_status_info set           
           training_yn = 'N',
           training_step = 0,
           progress=0
    </update>
</mapper>
