<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.NmrecgSampleInfoMapper">
    <select id="selectNmrecgSampleInfoDataByCmmnCd" resultType="com.egov.ex.entity.NmrecgSampleInfo">
        SELECT *
        FROM t_ails_nmrecg_sample_info A
        WHERE 1 = 1
            AND A.cmmn_cd = #{cmmnCd}
        ORDER BY cmmn_cd
        LIMIT 1
    </select>
</mapper>
