<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.NmrecgClsfMapper">
    <insert id="insertNmRecgClsf">
       INSERT INTO  t_ails_nmrecg_clsf(
           work_date
           , work_no
           , nmrecg_cd
           , dtrm_nmrecg_cd
           , label_type
           , dtrm_yn
           , dtrm_dttm
           , occp_yn
           , occp_dttm
           , del_yn
           , del_dttm
       ) VALUES(
           workDate
           , workNo
           , nmrecgCd
           , dtrmNmrecgCd
           , labelType
           , dtrmYn
           , dtrmDttm
           , occpYn
           , occpDttm
           , delYn
           , delDttm
      )
    </insert>
    <update id="updateNmRecgClsf">
        UPDATE t_ails_nmrecg_clsf SET
            nmrecg_cd = #{nmrecgCd}
            , dtrm_nmrecg_cd = #{dtrmNmrecgCd }
        WHERE work_date = #{workDate}
            AND work_no = #{workNo}
    </update>
    
    <update id="updateNmrecgClsfDelYnById">
        update t_ails_nmrecg_clsf set
        del_yn = #{delYn}
        <if test="delYn == 'Y'">
        , del_dttm = now()
        </if>
        WHERE work_date = #{workDate}
        AND work_no = #{workNo}
    </update>
    
   <update id="updateNmrecgClsfProsYnById">
        update t_ails_nmrecg_clsf set
		dtrm_yn = 'N',
		dtrm_dttm = null,
        pros_yn = #{prosYn}        
        WHERE work_date = #{workDate}
        AND work_no = #{workNo}
    </update>
</mapper>
