<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.RpcsValidationResultMapper">
	<select id="selectRpcsValidationResult" resultType="com.egov.ex.entity.RpcsValidationResult">
        SELECT * FROM t_ails_rpcs_validation_result
        WHERE 1=1
        AND validating_id=#{validatingId}
        <if test="isCorrectNum == 0">
        AND is_correct_num = 0
        </if>
        <if test="isCorrectNum == 0 and isCorrectType == 0">
        OR
        </if>
        <if test="isCorrectNum == 1 and isCorrectType == 0">
        AND
        </if>
        <if test="isCorrectType == 0">
        is_correct_type = 0
        </if>      
        ORDER BY img_work_no  
    </select>
    
    <select id="selectRpcsImgByPk" resultType="com.egov.ex.entity.RpcsValidationResult">
        SELECT * 
        FROM t_ails_rpcs_validation_result
        WHERE 1 = 1
        AND validating_id=#{validatingId}
        AND img_work_date = #{imgWorkDate}
        AND img_work_no = #{imgWorkNo}
    </select>
    
    <select id="countIsCorrect" resultType="java.util.HashMap">
        SELECT
        COUNT(CASE WHEN is_correct_num=1 then 1 end) AS numCorrect,
		COUNT(CASE WHEN is_correct_num=0 then 1 end) AS numIncorrect,
		COUNT(CASE WHEN is_correct_type=1 then 1 end) AS typeCorrect,
		COUNT(CASE WHEN is_correct_type=0 then 1 end) AS typeIncorrect
        FROM t_ails_rpcs_validation_result 
        WHERE 1=1
        AND validating_id=#{validatingId}       
    </select>
    
   	<delete id="deleteRpcsValidationResultAll">
   		DELETE FROM t_ails_rpcs_validation_result
   	</delete>
</mapper>
