<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.ServerStatusMapper">
    <select id="selectServerStatusInfo" resultType="com.egov.ex.entity.ServerStatus">
        SELECT * FROM t_ails_server_status
        WHERE work_date = #{workDate}
        ORDER BY work_dttm desc
        LIMIT 1
    </select>
</mapper>
