<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.UserInfoMapper">
    <select id="selectUserByUserId" resultType="com.egov.ex.entity.UserInfo">
        SELECT * FROM t_ails_user_info A
        WHERE A.user_id = #{loginId}
        LIMIT 1
    </select>
    <select id="selectUserByUserNo" resultType="com.egov.ex.entity.UserInfo">
        SELECT * FROM t_ails_user_info A
        WHERE A.user_no = #{userNo}
        LIMIT 1
    </select>
    <select id="selectUserListPage" resultType="com.egov.ex.entity.UserInfo">
        SELECT * FROM t_ails_user_info A
        WHERE 1 = 1
        ORDER BY A.user_no DESC
    </select>
    <insert id="insertUser">
       INSERT INTO t_ails_user_info (
            user_id
            , user_nm
            , user_pswd
            , mobl_no
            , grad_cd
            , fsttm_rgst_dttm
            , fsttm_rgsr_id
            , lsttm_altr_dttm
            , lsttm_modfr_id
       ) VALUES (
        #{userId}
        , #{userNm}
        , #{userPswd}
        , #{moblNo}
        , #{gradCd}
        , now()
        , 0
        , now()
        , 0
       )
    </insert>
    <update id="updateUser">
       UPDATE t_ails_user_info SET
        user_nm = #{userNm}
        <if test="userPswd!=null and userPswd != ''">
       , user_pswd = #{userPswd}
        </if>
       , mobl_no = #{moblNo}
       , grad_cd = #{gradCd}
       , lsttm_altr_dttm = now()
       , lsttm_modfr_id = 0
       WHERE user_no = #{userNo}
    </update>
    <delete id="deleteUserByUserNo">
        DELETE FROM t_ails_user_info WHERE user_no=#{userNo}
    </delete>
</mapper>
