<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egov.ex.mapper.ValidationStatusMapper">
	<select id="selectValidationStatusInfo" resultType="com.egov.ex.entity.ValidationStatusInfo">
        SELECT * FROM t_ails_validation_status_info
        LIMIT 1            
    </select>
    
    <update id="updateStartValidationStatusInfo">
       update t_ails_validation_status_info set
           validating_yn = 'Y',
           validating_step = 1,
           validating_id = #{validatingId},
           progress=0,
           engine_type = #{engineType},
           dtst_type = #{dtstType},
           dtst_id = #{dtstId},
           weight_id = #{weightId},
           want_to_stop = 'N',
           start_dttm = #{startDttm},
           finish_dttm = null,
           error_msg = "",
           complete_cnt = 0,
           total_data_cnt = 0
    </update>
    <update id="updateStopValidationStatusInfo">
       update t_ails_validation_status_info set           
           want_to_stop = 'Y',
           progress=0
    </update>
    <update id="updateCompleteValidationStatusInfo">
       update t_ails_validation_status_info set           
           validating_yn = 'N',
           validating_step = 0,
           progress=0
    </update>       
</mapper>
